#tic-tac-toe {
    /* TODO: Change color background color page independent.
     */
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    justify-content: center;
    background: radial-gradient(
        circle at top,
        rgba(260, 210, 70, 0.58),
        rgba(250, 176, 103, 0.87)
      ), url('bg-pattern-dark.png');
    background-repeat: repeat;
    background-size: 100% 100%, 30% 30%, 100% 100%;
    min-height: 140rem;
    align-items: center;
}

#root #tic-tac-toe #project-header {
  text-align: center;
}

#root #project-header img {
    width: 12rem;
    object-fit: contain;
    margin: 3rem auto 1rem auto;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.4));
  }

#project-header h1 {
    font-family: 'Caprasimo', cursive;
    font-size: 3rem;
    margin: 0 auto 3rem auto;
    background-color: #f0e110;
  }

/* #tic-tac-toe #tic-tac-board {
    display: flex;
    max-width: 45rem;
    height: 14rem;
    width: 14rem;
    border-radius: 6px;
    background: linear-gradient(#383624, #282617);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    position: relative;
  } */


@media screen and (max-width: 768px) {
    #tic-tac-toe {
        height: 100%;
        width: 80vw;
    }
}

@media screen and (min-width: 768px) {
    #tic-tac-toe {
        height: 100%;
        width: 60vw;
    }
}