#game-container {
    display: flex;
    height: 14rem;
    width: 14rem;
    background: linear-gradient(#383624, #282617);
    position: relative;
}

#players {
    display: flex;
    padding: 0;
    margin: 1rem 0;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#players li {
    display: flex;
    align-items: center;
    width: 50%;
    border: 2px solid transparent;
}

/* #players.highlight-player li.active {
    border-color: #f6e35a;
    animation: pulse 2s infinite ease-in-out;
  }

  #players.highlight-player li.active .player-name,
  #players.highlight-player li.active .player-symbol {
    color: #f6e35a;
  } */
  