.example-btn {
  width: 10rem;
  padding: 0;
  margin: 0;
  text-align: center;
  display: inline-block;
  border-radius: 1em;
  background-color: #1a1a1a;
  box-shadow: 0 0 1em #000000aa;
}
.example-btn button {
  width: 10rem;
  border-radius: 1em;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #4155ef;
  cursor: pointer;
  transition: border-color 0.25s;
}
.example-btn button:hover {
  border-color: #782bf3aa;
}
.example-btn button.active {
  background-color: #782bf3aa;
}
